receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  hostmetrics:
    collection_interval: 30s
    scrapers:
      cpu: {}
      disk: {}
      load: {}
      filesystem: {}
      memory: {}
      network: {}
      paging: {}
  prometheus:
    config:
      global:
        scrape_interval: 30s
      scrape_configs:
        - job_name: otel-collector-binary
          static_configs:
            - targets: ["localhost:8888"]
  filelog/docker:
    include:
      - /var/lib/docker/containers/*/*.log
    start_at: end
    include_file_path: true
    include_file_name: false
    operators:
      - type: json_parser
        parse_from: body
        parse_to: body
        if: 'body matches "^\\{"'
      - type: move
        from: body.log
        to: body
        if: 'body.log != nil'
      - type: add
        field: attributes.log.source
        value: docker

processors:
  resourcedetection:
    detectors: [env, system]
    timeout: 2s
    system:
      hostname_sources: [os]
  resource/override-hostname:
    attributes:
      - key: host.name
        value: PLACEHOLDER_SERVICE_NAME
        action: upsert
  batch:
    send_batch_size: 1000
    timeout: 10s

extensions:
  health_check: {}
  zpages: {}

exporters:
  otlp:
    endpoint: "PLACEHOLDER_IP:4317"
    tls:
      insecure: true

service:
  telemetry:
    metrics:
      address: 0.0.0.0:8888
  extensions: [health_check, zpages]
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [resourcedetection, resource/override-hostname, batch]
      exporters: [otlp]
    metrics/internal:
      receivers: [prometheus, hostmetrics]
      processors: [resourcedetection, resource/override-hostname, batch]
      exporters: [otlp]
    traces:
      receivers: [otlp]
      processors: [resourcedetection, resource/override-hostname, batch]
      exporters: [otlp]
    logs:
      receivers: [filelog/docker, otlp]
      processors: [resourcedetection, resource/override-hostname, batch]
      exporters: [otlp]
